<h2> <%= @recipe.name %> </h2>
<h4> <%= @recipe.ingredients %> </h4>
<p> <%= @recipe.cook_time %> </p>
<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>